body {
    max-height: 100vh;
    background-color: #f7f1e3; 
    color: #f7f1e3;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.section  {
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: 120px auto;
    background-color: #474787;
    border-radius: 10px;
}

.title {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}
.text {
    text-align: center;
}
.input {
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.btn {
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    color: #f7f1e3;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    background-color: #ffb142;
    margin-right: 15px;
}
.new-game {
    background-color: #ee5253;
    width: 130px;
}
.output {
    grid-area: output;
    display: block;
    box-sizing: border-box;
    width: 370px;
    height: 80px;
    border-radius: 10px;
    padding: 20px;
    background-color: #FFF;
    margin: 0 auto;
    color: #192a56;
    margin-bottom: 20px;
}